{% extends 'base_.html' %}

		{% block content %}
			<form action="fileM402" method="post">
				{% csrf_token %}
			<h2>Выбор МООК на четвёртом курсе (профиль _02)</h2><br>
			Полные ФИО в родительном падеже:<br>{{ form.FIO }}<br><br>
			Сокращение Фамилия И.О. в именительном падеже:<br>{{ form.FIO2 }}<br><br>
			Группа:<br>{{ form.group }}<br><br>
			
			Семестр 7:<br>
			{% for s in sem7 %}
			<input type="radio" name="sem7" value="{{s.val}}" required>{{s.name}}<br>
			{% endfor %}
			<br>
			<button type="submit">Записать в файл</button>
			</form>
		
		{% endblock %}
