<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
	</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style>.content{
			margin: 50px;
			}
	</style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Элективные курсы <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Онлайн-курсы</a>
      <a class="nav-item nav-link" href="#">Выбор профиля</a>
    </div>
  </div>
</nav>
<div class="content">

			<h1>Добро пожаловать в приложение по выбору дисциплин!</h1>
			<p>Для начала сверху (на черном фоне) выберите подходящий Вам вариант, используя Ваш текущий год обучения и уже выбранный профиль обучения -- и переходите туда</p>
</div>
</body>
</html>